<div class="my_request dark-bg flex-center">
  <div class="object-index">
    <% @requests.each do |request| %>
      <div class="profile-index-img flex-center">
        <%= image_tag request.img.url(:medium) %>
      </div>
    <% end %>
  </div>
</div>


<h4>我收藏的穿搭</h4>
<% @outfits.each do |outfit| %>
  <%= image_tag outfit.image.file_path, width: '40px' %>
<% end %>

