<%= image_tag "pd_page_01.png", height: '200px', class: "pull-right" %>
<h1>上傳照片</h1>
<h3>實作流程</h3>
<ol>
	<li>一進入頁面，就打開鏡頭</li>
	<li>可選擇打開相簿（其實就是上傳檔案鈕）</li>
	<li>按下拍照鈕或從相簿中選擇相片時時，預覽畫面（可按確定或取消）</li>
	<li>一旦按下確定，就送出 POST, create Request</li>
</ol>
以下為實作畫面
<hr>
（是否有現有的gem可以做這件事）<br>
1. 畫一個照相框區塊，用來顯示拍照畫面或預覽圖片<br>
第二個div <br>
2. 一個確定拍照鈕<br>
3. 一個打開相簿鈕<br>
4. 確定/取消