<section class="request_photo">
  <%= image_tag @outfit.image.file_path %>
</section>

<section class="compare-items">
  <div class="request-item">
    <%= image_tag @related_item.images.first.file_path %>
  </div>
  <div class="collection">
    收藏穿搭
  </div>
</section>
<section class="related-items">
  <% @other_items.each do |item| %>
    <div class="items">
      <%= link_to image_tag(item.images.first.file_path), item_path(item) %>
    </div>
  <% end %>
</section>

<script>
  $(".request_photo img").click(function(){
    console.log("i am clicked!");
    $(".request_photo").toggleClass('stretch');
  });
</script>