<%= image_tag "pd_page_05.png", height: '200px', class: "pull-right" %>
<h2>中意單品</h2>
<h3>實作流程</h3>
<ol>
	<li>現階段沒有照片，都先讀 name </li>
	<li>進入這頁時，使用者已從上一頁的 div3 選了一張 item</li>
	<li>這張照片也帶有顏色、材質、種類等屬性</li>
	<li>透過這些屬性，可以用 where 撈出關聯的 outfits </li>
	<li>item 的細節</li>
	<li>購物車功能先忽略</li>
</ol>
以下為實作畫面
<hr>
div 1 <br>
使用者選的 item <br><br>
div 2	<br>
相關 outfit <br>	<br>
div 3 <br>
item 細節與購物車鈕<br>