<%= image_tag "pd_page_04.png", height: '200px', class: "pull-right" %>
<h2>相關單品</h2>
<h3>實作流程</h3>
<ol>
	<li>進入此畫面時，已經有一張 outfit 被選</li>
	<li>outfit has many itmes，叫出這些 items </li>
	<li>先把顏色、材質、種類和使用者request一樣的單獨挑出來，放在div2裡</li>
	<li>也把使用者的request放在div2</li>	
	<li>其他沒有被挑的，就放在div3</li>
	<li>上面有一個收藏鈕，這個階段我們先跳過</li>	
	<li>場合（occasion）也先跳過</li>
</ol>
以下為實作畫面
<hr>
div 1 <br>
outfit <br><br>
div 2	<br>
使用者送入的照片<br>
outfit 上相似的 items <br><br>
div 3 <br>
outfit 的相關 itmes<br>