<%= image_tag "pd_page_03.png", height: '200px', class: "pull-right" %>
<h2>搜尋穿搭</h2>
<h3>實作流程</h3>
<ol>
	<li>理論上進入這頁時，顏色、材質、種類已確定了</li>
	<li>在做這頁之前，有如下前置作業
		<ul>
			<li>先有一些items假資料，每一筆 items 都有顏色、材質、種類</li>
			<li>這些 items 要關聯到一些 outfits 假資料</li>
			<li>因此，透過 outfit 可以撈到顏色、材質、種類</li>
		</ul>
	</li>
	<li>透過 where 之類的功能，找到特定顏色、材質、種類的 outfits</li>
	<li>印出畫面，此時沒有照片，就先直接讀資料的name</li>
	<li>使用者點擊任何一筆 outfit，跳轉頁面至 show action</li>
</ol>
