<%= image_tag "pd_page_02.png", height: '200px', class: "pull-right" %>
<h2>輸入照片屬性</h2>
<h3>實作流程</h3>
<ol>
	<li>先不管什麼圖片辨識，在這邊輸入屬性（顏色、材質、種類）</li>
	<li>顏色、材質、種類三張表的關聯已存在</li>
	<li>可能要先建一些假資料</li>
	<li>從三張表產出3個下拉選單</li>
	<li>先加一個確定鍵，讓資料被post，然後跳轉下一頁</li>
</ol>
以下為實作畫面
<hr>

三個下拉選單<br>
一個確定



