.related-objects {
  overflow: auto;
}

.footer {
  height: calc( (100vh - 48px - 80vw)/2 );
  margin-top: 10px;
}

body#items-show .footer {
  margin-top: 40px;
}

.objects img {
  width: auto;
  height : auto;
  max-width: 100%;
}

.related-objects h6 {
  position: fixed;
  margin-top: 18px;
  margin-left: 10px;
  color: #4a4a4a;
}

#items-show .footer {
  background-color: #fff;
}

#items-show .objects {
  overflow: hidden;
}

.objects {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}