/* hide */

.hide {
  display: none;
}

/* size */

.full-width {
  width: 100vw !important ;
}

.middle-section {
  width: 100vw;
  height: calc((100vh - 48px - 80vw)/2);
}

.request-photo.stretch {
  height: auto !important ;
}

.overflow-hidden {
  overflow: hidden;
}

.request-photo img {
  width: auto;
  height : auto;
  max-width: 100%;
}

.img-auto-width {
  width: auto;
  height : auto;
  /*max-height: 100%;*/
  max-width: 100%;
}

/* color */

.dark-bg {
  background-color: #4a4a4a;
}

.white {
  color: #fff;
}

/* align */

.flex-center {
  display:flex;
  justify-content:center;
  align-items:center;
}

.flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-top {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

/* effect */

.bordered {
  border-radius: 3px;
  border: solid 1px #dadada;
}

.shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  border: solid 1px #9b9b9b;
}

/* common elements */

.request-photo {
  width: 100vw; height: 80vw;
  background-color: #d8d8d8;
}

.alert {
  padding: 5px;
  margin : 0px;
  border-radius: 0px;
  background-color: transparent !important;
  border: 0px !important;
  text-align: center;
  color: #d23076;
}

.help-block {
  color: #ccc !important ;
  font-size: 7px;
  text-align: center;
}

.checked {
  position: relative;
  top: 17px;
  right: 13px;
  display: inline-block;
  width: 20px;
  height: 5px;
  background: #fff;
  line-height: 0;
  font-size:0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
}

.checked:after{
  content: '/';
  display: block;
  width: 40px;
  height: 5px;
  background: #fff;
  -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);}

