
/* header */

nav.header-bar {
  position: fixed;
  top: 0; left:0;
  width: 100vw;
  height: 48px;
  /*-webkit-backdrop-filter: blur(10px);*/
  /*backdrop-filter: blur(10px);*/
  background-color: #0b1647;
  color: #fff;
}

nav.header-bar .back {
  font-size: 13px;
  line-height: 48px;
}


nav.header-bar .menu {
  position: fixed;
  top: 0px;
  right: 6px;
  display: flex;
  align-items: center;
  height: 48px;
}

nav.header-bar .menu img {
  width: 30px;
  /*border: #eee 1px solid;*/
  /*border-radius: 3px;*/
  padding: 4px;
  margin: 0;
}


/* cancel-element */

nav.header-bar .cancel {
  position: fixed;
  top: -2px; right: 15px;
  line-height: 48px;
  font-size: 22px;
  font-weight: 900;
}


