/* whole site page */

body {
  margin-top: 48px;
  padding: 0px;
  background-color: #fff;
  color: #9b9b9b;
}

body#requests-new, body#requests-create, body#item_outfits-show, body#request_outfits-show {
  background-color: #4a4a4a;
}

#main-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* request_outfits-index */

.user-request {
  background-color: #de9ca5;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.request-item {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 5px;
  /*border: solid 1px #dadada;*/
  margin: 9px 4px 9px 12px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.request-item img {
  max-width: 125%;
}

.user-request ul {
  margin: auto auto auto 0;
  width: 320px;
}

.tag-index > li {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px;
  color: #fff;
  margin: auto 1px;
  padding: 7px 13px 10px 13px;
  font-size: 14px;
  height: 34px;
}

.not_find {
  background-color: rgba(204,204,204, 0.2);
}

.blur {
  width: 100vw;
  background-color: black;
  height: 100px;
  position: absolute;
  top:0;
  filter: blur(5px);
  z-index: -10;
}

.outfits-index {
  position: absolute;
  z-index: -100;
  top: 78px;
  width: 100vw;
  height: calc( 100vh - 40px);
  overflow-y: auto;
  padding: 3px;
  display: inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content: flex-start;
  align-content: flex-start;

}
.outfits-index img {
  margin: 5px;
  width: 80px;
  height: auto;
  border-radius: 3px;
}

/* request_outfits-show */

.compare-items {
  padding: 14px;
}

.focus-item-area {
  width: 160px;
  height: 66px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.focus-item-area .focus-item  {
  width: 75px;
  height: 75px;
}

.focus-line {
  width: 18px;
  margin: 0px 8px;
}

.collection {
  position: relative;
  left: 17px;
  width: 100px;
  height: 66px;
  border-radius: 5px;
  background-color: #c43b3b;
  padding: 14px;
  text-align: center;
  color: #fff;
  border: solid 0px #9b9b9b;
}



.collected {
  background-color: #9b9b9b;
}

img.heart {
  width: 18px;
  margin-bottom: 8px;
}

.occasion-area {
  height:0 ;
  width: 100vw;
  position: relative;
  bottom: 40px;
}

.occasion {
  width: 51px;
  height: 26px;
  opacity: 0.6;
  border-radius: 100px;
  background-color: #4a4a4a;
  margin-left: 7px;
  font-size: 10px;
  color: #fff;
}

/* items-show */

#items-show .request-photo {
  height: 200px;
}

.item-operator {
  color: #fff;
  font-size: 8px;
  padding: 13px;
  font-weight: 300;
}

.item-operator p {
  letter-spacing: 2px;
}

.item-details .price {
  color: #96d6e0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
}

.put-in-cart {
  border-radius: 5px;
  background-color: #de9ca5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 7px 14px;
}

.put-in-cart img {
  width: 18px;
  margin-right: 3px;
  position: relative;
  top: -2px;
}

.size-and-quantity {
  display: flex;
  justify-content: flex-start;
}

.size-and-quantity div {
  width: 60px;
  height: 24px;
  padding: 3px;
  margin-right: 5px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  font-size: 6px;
}

.size-and-quantity select {
  width: 67px;
  height: 36px;
  margin-right: 12px;
  padding-left: 12px;
  border: solid 1px #ffffff;
  background-color: transparent;
}

