/* whole site page */

body {
  margin-top: 48px;
  padding: 0px;
  background-color: #fff;
  color: #9b9b9b;
}

#main-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body#requests-new {
  background-color: #0b1647;
}

.alert {
  padding: 5px;
  margin-top : 10px;
}

/* header */

nav.header-bar {
  position: fixed;
  top: 0; left:0;
  width: 100vw;
  height: 48px;
  /*-webkit-backdrop-filter: blur(10px);*/
  /*backdrop-filter: blur(10px);*/
  background-color: #0b1647;
  color: #fff;
}

nav.header-bar .back {
  font-size: 13px;
  line-height: 48px;
}

nav.header-bar .cancel {
  position: fixed;
  top: -2px; right: 15px;
  line-height: 48px;
  font-size: 22px;
  font-weight: 900;
}

/* footer */

input[type="submit"].next {
  position: fixed;
  bottom: 0;
  border: 0px;
  width: 100vw;
  height: 40px;
  background-color: #d23076;
  color: #fff;
  font-size: 18px;
}

/* common use element */

.help-block {
  color: #ccc !important ;
  font-size: 7px;
  text-align: center;
}

.tag_list > li, .tag_list select {
  border-radius: 100px;
  background-color: #96d6e0;
  border: 0px;
  color: #fff;
}

.request_photo, .img-frame {
  width: 100vw; height: 80vw;
  background-color: #eee;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
}

.request_photo img {
  width: auto;
  height : auto;
  max-height: auto;
  max-width: 100%;
}

/* requests-new */

.img-show {
  display: none;
  width: inherit;
  height: inherit;
  text-align: center;
}

.fileUpload {
  width: 170px; height: 60px;
  padding:0;
  background-color: #0b1647;
  color: #fff;
}

.request_photo input.file{
  position: relative; z-index: 100;
  width: 100%;
  height: 60px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUploadIcon {
  align-self: center;
  font-size: 25px;
  font-weight: 800;
  position: relative;
  top: -75px; z-index: 1;
  line-height: 60px;
}

.caution {
  font-size: 7px;
  margin-top: 6px;
  margin-bottom: 20px;
  text-align: center;
}

.inline-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inline-input select {
  width: 90px;
  height: 40px;
  padding-left: 25px;
}

/* request_outfits-index */

.user-request {
  width: 100vw;
  /*height: 40px;*/
  display: inline-flex;
  /*flex-direction:column;*/
  justify-content:space-between;
  align-items: center;

}

.request-item {
  width: 50px;
  height: 50px;
  padding: 7px;
}

.request-item img, .related-item img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: solid 1px #dadada;
}

.user-request ul {
  margin: auto auto auto 0;
}

.tag_list > li {
  margin: auto 1px;
  padding: 4px 14px;
  font-size: 14px;
}

.list-outfits {
  width: 100vw;
  height: calc( 100vh - 100px);
  overflow-y: auto;
  padding: 3px;
  display: inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content: flex-start;
  align-content: flex-start;

}
.list-outfits img {
  margin: 5px;
  width: 80px;
  height: auto;
  border-radius: 3px;
}

img.recommend {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  border: solid 1px #9b9b9b;
}

/* request_outfits-show */

.compare-items {
  width: 100vw;
  height: calc((100vh - 48px - 80vw)/2);
  padding: 14px;
  display: inline-flex;
  justify-content: space-around;
  align-items:center;
}

#request_outfits-show .request-item {
  width: 160px;
  height: 66px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items:center;
}

.request-item img, .items img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 66px;
  border-radius: 3px;
  border: solid 1px #dadada;
}

.collection {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  background-color: #d23076;
  padding: 14px;
  text-align: center;
  color: #fff;
}

.related-items {
  background-color: #0b1647;
  height: calc( (100vh - 48px - 80vw)/2 );
  width: 100vw;
  overflow: auto;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.items {
  width: 66px;
  height: 66px;
  margin-left: 6px;
}
/*.request-item {
  width: 50px;
  height: 50px;
  padding: 7px;
}

.request-item img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: solid 1px #dadada;
}*/


