/* whole site page */

body {
  margin-top: 48px;
  padding: 0px;
  background-color: #fff;
  color: #9b9b9b;
}

body#requests-new, body#requests-create{
  background-color: #0b1647;
}

#main-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* request_outfits-index */

.user-request {
  display: inline-flex;
  justify-content:space-between;
  align-items: center;
}

.request-item {
  width: 50px;
  height: 50px;
  padding: 7px;
}

.request-item img, .related-item img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: solid 1px #dadada;
}

.user-request ul {
  margin: auto auto auto 0;
}

.tag-list > li {
  border-radius: 100px;
  background-color: #96d6e0;
  border: 0px;
  color: #fff;
  margin: auto 1px;
  padding: 4px 14px;
  font-size: 14px;
}

.not_find {
  background-color: #ccc;
}

.outfits-index {
  width: 100vw;
  height: calc( 100vh - 100px);
  overflow-y: auto;
  padding: 3px;
  display: inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content: flex-start;
  align-content: flex-start;

}
.outfits-index img {
  margin: 5px;
  width: 80px;
  height: auto;
  border-radius: 3px;
}

/* request_outfits-show */

.compare-items {
  padding: 14px;
}

.focus-item {
  width: 160px;
  height: 66px;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.focus-item img {
  width: 66px;
  height: 66px;
}

.collection {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  background-color: #d23076;
  padding: 14px;
  text-align: center;
  color: #fff;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  border: solid 0px #9b9b9b;
}

.occasion-area {
  height:0 ;
  width: 100vw;
  position: relative;
  bottom: 40px;
}

.occasion {
  width: 51px;
  height: 26px;
  opacity: 0.6;
  border-radius: 100px;
  background-color: #4a4a4a;
  margin-left: 7px;
  font-size: 10px;
  color: #fff;
}

/* items-show */

#items-show .request-photo {
  height: 200px;
}

.item-operator {
  background-color: #0b1647;
  color: #fff;
  font-size: 8px;
  padding: 13px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-operator p {
  letter-spacing: 2px;
}

.item-details h5 {
  color: #96d6e0;
}

.put-in-cart {
  border-radius: 5px;
  background-color: #ff5d5d;
  font-size: 12px;
}

.size-and-quantity {
  display: flex;
  justify-content: flex-start;
}

.size-and-quantity div {
  width: 60px;
  height: 24px;
  padding: 3px;
  margin-right: 5px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  font-size: 6px;
}



