#users-profile {
}

.my-requests {
  overflow: auto;
  height: 182px;
  position: fixed;
  z-index: 500;
  top: 48px;
}

/* focus */

.selected-request {
  /*background-color: yellow;*/
  background-color: rgba(74, 74, 74, 0.6);
  z-index: 800;
  position: fixed;
  height: 182px;
}

.focus-img {
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin-right: 10px;
}

/* request-index */

.request-index {
  /*position: fixed;*/
  /*z-index: -100;*/
  /*display:flex;
  justify-content: flex-start;
  align-items: center;*/
}

.my-requests .profile-index-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.my-requests img {
  width: auto;
  height: auto;
  max-width: 100%;
  /*max-height: 100%;*/
}

/* tag list */

body#users-profile .tag-list-request {
  position: fixed;
  top: 219px;
  z-index: 500;
  width: 100vw;
}

.tag-list-request li {
  width: auto;
  height: 26px;
  border-radius: 5px;
  background-color: #9b9b9b;
  font-size: 9px;
}
/* my outfits */

.my-outfits {
  margin-top: 240px;
  height: calc( 100vh - 200px - 48px);
  overflow: auto;
  padding-top: 12px;
  /*-webkit-column-count: 2;*/
  /*-moz-column-count: 2;*/
  /*column-count: 2;*/
  /*text-align: center;*/
}

.my-outfits .column {
  width: calc( (100vw - 24px)/2 );
}

.outfit-frame {
  width: 100%;
  /*margin: 10px auto 0 auto;*/
  overflow: hidden;
  border-radius: 5px;
  /*display: inline-flex;*/
}

.outfit-frame img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.line-1st {
  /*background-color: yellow;*/
  position: absolute;
  left: 12px;
  padding-right: 6px;
}

.line-2nd {
  /*background-color: gray;*/
  position: absolute;
  right: 12px;
  padding-left: 6px;
}