/* requests-new */

.img-show {
  width: inherit;
  height: inherit;
  text-align: center;
}

.fileUpload {
  width: 170px; height: 60px;
  padding:0;
  background-color: #0b1647;
  color: #fff;
}

.request-photo input.file{
  position: relative; z-index: 100;
  width: 100%;
  height: 60px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUploadIcon {
  align-self: center;
  font-size: 25px;
  font-weight: 800;
  position: relative;
  top: -75px; z-index: 1;
  line-height: 60px;
}

.caution {
  font-size: 7px;
  margin-top: 6px;
  margin-bottom: 20px;
  text-align: center;
}

.tag-area {
  width: 100vw;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-content:center;
}

.tag-list {
  width: 80vw;
  flex-wrap:wrap;
  display: inline-flex;
  justify-content: space-around;
  align-content:center;
}

.tag-list select {
  width: 90px;
  height: 40px;
  /*padding-left: 25px;*/
  background-color: #96d6e0;
  color: #fff;
  border: 0px;
}

