<section class="request-photo flex-center overflow-hidden">
  <%= image_tag @outfit.image.file_path %>
</section>
<section class="compare-items flex-around middle-section">
  <div class="focus-item">
    <%= image_tag @request.img.url(:thumb) %>
    <span>=</span>
    <%= link_to image_tag(@related_item.images.first.file_path) , item_path(@related_item), class: "bordered" %>
  </div>
  <div class="collection">
    收藏穿搭
  </div>
</section>
<section class="related-objects full-width flex-center dark-bg">
  <div class="footer flex-top">
    <% @other_items.each do |item| %>
      <div class="objects flex-center bordered">
        <%= link_to image_tag(item.images.first.file_path), item_path(item) %>
      </div>
    <% end %>
  </div>
</section>
